@use "sass:math";
@import "tailwindcss";
@plugin "@tailwindcss/typography";


.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.transition-smooth {
  /*Tailwindの transition-colors は 色が変わるプロパティだけに作用*/
  @apply transition-colors duration-300 ease-in-out;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}


/* 16px = 1rem 基準のフォントサイズ一覧 */


$base-size: 16;
$font-sizes: 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 26, 28, 30, 32, 36, 40, 48, 56, 64, 72;

@each $size in $font-sizes {
  .font-#{$size} {
    font-size: #{math.div($size, $base-size)}rem;
  }

  @media (min-width: 768px) {
    .md\:font-#{$size} {
      font-size: #{math.div($size, $base-size)}rem;
    }
  }

  @media (min-width: 1024px) {
    .lg\:font-#{$size} {
      font-size: #{math.div($size, $base-size)}rem;
    }
  }
}